/* Modificações de aparéncia
 * autor@ Mick Hill
 */
/*.navbar-inverse .navbar-inner {
    background-color: #FF0000;
    background-image: linear-gradient(to bottom, #3E78FD, #1617FF);
    background-repeat: repeat-x;
    border-color: #FFFFFF;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
*/