# Definindo Alias
RewriteBase /

# Ativando modo de reescrita na url
RewriteEngine on

# Iguinorar arquivos e pastas
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

# Carregar tudo na index
RewriteRule ^(.*)$ index.php?uri=$1 [QSA]
    ## [QSA] significa que se há uma sequência de consulta passou com a URL original, ele será anexado ao reescrever.

# Redirecionar de www a sem www
RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
RewriteRule ^(.*) http://%1/$1 [R=301,L]
    ## [L] significa que se a regra corresponder, não processar mais RewriteRules abaixo deste.